.scene-panel .total {
  display: block;
  text-align: center;
  font-size: 9px;
}

.scene-panel .meshes { border-left: 5px solid #4FC1E9; }
.scene-panel .lights { border-left: 5px solid #FFCE54; }
.scene-panel .sounds { border-left: 5px solid #A0D468; }

.scene-panel .meshes .meshes-count {
  font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.scene-panel .meshes .meshes-info {
  width: 60px;
  display: inline-block;
  margin-left: 30px;
}

.scene-panel .total-count {
  font-size: 50px;
  font-weight: bold;
}

.hierarchy {
    border-bottom: 1px solid #282828;
    padding-bottom: 10px;
    overflow: auto;
    max-width: 100%;
    max-height: 200px;
    margin: 0;
    display: block;
    padding: 0;
}

.hierarchy .empty-hierarchy-message {
  display: none;
}

.hierarchy.empty .empty-hierarchy-message {
  display: block;
  width: 100%;
  text-align: center;
  background: #333;
  margin-top: 10px;
  color: white;
  line-height: 40px;
  height: 40px;
}

.hierarchy .parent, .son {
    font-size: 14px;
}

.hierarchy .parent:hover, .son:hover {
    background: #2a9fd6;
}

.hierarchy .parent {
    list-style-image: url("../img/mesh_flag.png");
    margin: 5px;
}

.hierarchy .parent.mesh_flag {list-style-image: url("../img/mesh_flag.png");}
.hierarchy .parent.light_flag {list-style-image: url("../img/light_flag.png");}
.hierarchy .parent.sound_flag {list-style-image: url("../img/sound_flag.png");}

.hierarchy .parent.selected, .son.selected {list-style-image: url("../img/selected_flag.png") !important;}

.hierarchy .son {
    list-style-image: url("../img/arrow.png");
    margin: 5px 0px 0px 20px;
}

.hierarchy .parent:after {
    background: blue;
    height: 10px;
    width: 10px;
    position: relative;
    float: left;
}

.hierarchy .son:after {
    background: blue;
    height: 10px;
    width: 10px;
    position: relative;
    float: left;
}

#playSceneContainer { margin-top: 100%}
#playSceneContainer img {margin-left:40%; margin-right: 40%; width: 20%;}

iframe.scenePlayer {
    top: 0;
    left: 0;
    position: absolute;
}
