.text-blue {
  color: #4FC1E9;
}

.text-green {
  color: #A0D468;
}

.text-yellow {
  color: #FFCE54;
}

.text-14 { font-size: 14px;}
.text-16 { font-size: 16px;}
.text-18 { font-size: 18px;}
.text-24 { font-size: 24px;}
.text-32 { font-size: 32px;}
.text-36 { font-size: 36px;}
.text-42 { font-size: 42px;}
