<div class='panel panel-default'>
<div class='panel-heading'>
<a aria-controls='shaderOptionsCollapse' aria-expanded='true' data-parent='#rightContainer' data-toggle='collapse' href='#shaderOptionsCollapse' role='button'>
<h3 class='panel-title'>
Shader Options
</h3>
</a>
</div>
<div aria-labelledby='shaderOptionsCollapse' class='panel-collapse collapse' id='shaderOptionsCollapse' role='tabpanel'>
<div class='panel-body'>
<div class='row panel-content' style='padding-left:0; margin-top: 10px;'>
<form id='shaderOptions'></form>
</div>
</div>
</div>
</div>
