<div class='panel panel-default'>
<div class='panel-heading'>
<a aria-controls='shaderCollapse' aria-expanded='true' data-parent='#rightContainer' data-toggle='collapse' href='#shaderCollapse' role='button'>
<h3 class='panel-title'>
Shader
</h3>
</a>
</div>
<div aria-labelledby='shaderCollapse' class='panel-collapse collapse' id='shaderCollapse' role='tabpanel'>
<div class='panel-body'>
<div class='row panel-content' style='padding-left:0; margin-top: 10px;'>
<div class='dropdown' style='margin-bottom:10px;'>
<div aria-expanded='true' class='topcoat-button--large--cta dropdown-toggle' data-toggle='dropdown' id='changeShader' style='margin-left: 13px;height: 20px;line-height: 20px;' type='button'>
Change Shader
<span class='caret'></span>
</div>
<ul aria-labelledby='changeShader' class='dropdown-menu' id='shaderSelector' role='menu'></ul>
</div>
</div>
</div>
</div>
</div>
