.panel.panel-default
    .panel-heading
        %a{:role=>"button", "data-toggle"=>"collapse", "data-parent"=>"#rightContainer", :href=>"#scriptCollapse", "aria-expanded"=>"true", "aria-controls"=>"scriptCollapse"}
            %h3.panel-title
                Script
    #scriptCollapse.panel-collapse.collapse{:role=>"tabpanel", "aria-labelledby"=>"scriptCollapse"}
        .panel-body
            .row.panel-content{:style=>"padding-left:0; margin-top: 10px;"}
                .dropdown{:style=>"margin-bottom:10px;"}
                    #changeScript.topcoat-button--large--cta.dropdown-toggle{:type=>"button", "data-toggle"=>"dropdown", "aria-expanded"=>"true", :style=>"margin-left: 13px;height: 20px;line-height: 20px;"}
                        Change Script
                        %span.caret
                    %ul.dropdown-menu#scriptSelector{:role=>"menu", "aria-labelledby"=>"changeScript"}
