.panel.panel-default
    .panel-heading
        %a{:role=>"button", "data-toggle"=>"collapse", "data-parent"=>"#rightContainer", :href=>"#shaderOptionsCollapse", "aria-expanded"=>"true", "aria-controls"=>"shaderOptionsCollapse"}
            %h3.panel-title
                Shader Options
    #shaderOptionsCollapse.panel-collapse.collapse{:role=>"tabpanel", "aria-labelledby"=>"shaderOptionsCollapse"}
        .panel-body
            .row.panel-content{:style=>"padding-left:0; margin-top: 10px;"}
                %form#shaderOptions
                    