@import './../lib/constants.scss';

.code {
    &-editor,
    &-column {
        height: 100% !important;
        width: 100%;
        background: $deep-blue-15;
    }


    &-column {
        font-size: 14px;
        background: $deep-blue-17;
    }


    &-container,
    &-content {
        height: 100%;
        width: 100%;


        & textarea {
            border: none;
            overflow: auto;
            outline: none;

            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            resize: none; /*remove the resize handle on the bottom right*/
        }
    }


}
