// COLORS
$brown: #1d1d1d;
$grey: #5A6668;
$black: #000;
$white: #fff;
$deep-purple-100: #3A3D49;
$deep-purple-80: #3F3A49;
$deep-purple-70: #575A67;
$yellow: #ffce54;
$success-green: #8AAD5D;
$success-green-2: #65A96C;
$warning-orange: #F39321;
$error-red: #AA2A2D;
$info-blue: #1D7773;

$base-unit: 8px;
