@import './constants.scss';
@import './theme.scss';

@font-face {
    font-family: 'LeckerliOne';
    src: url('/static/fonts/LeckerliOne-Regular.otf') /* ... */;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: $deep-blue-0;
    font-size: 0.7rem;
    letter-spacing: -0.01rem;
}

.footer {
    height: 30px;
}

.main-container {
    flex: 1;
    background-color: $black;

    & .canvas-container {
        display: flex;
        height: 100%;
        width: 81% !important;
    }
}
