@import './constants.scss';
@import './theme.scss';

@font-face {
    font-family: 'LeckerliOne';
    src: url('/static/fonts/LeckerliOne-Regular.otf') /* ... */;
}


.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: $white;
}

.footer {
    height: 30px;
}

.main {
    flex: 1;
    background-color: $black;
}
