@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');
@import './constants.scss';
@import './theme.scss';

@font-face {
    font-family: 'LeckerliOne';
    src: url('/static/fonts/LeckerliOne-Regular.otf');
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: $deep-blue-1;
    font-size: 0.7rem;
    font-weight: 400;
    //letter-spacing: -0.01rem;
    font-family: 'Roboto', sans-serif;
}

.footer {
    height: 30px;
}

.main-container {
    flex: 1;
    background-color: $black;

    & .canvas-container {
        display: flex;
        height: 100%;
        float: left;
        width: 66.66% !important;
    }
}
