@import './constants.scss';
@import './theme.scss';

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: $white;
}

.footer {
    height: 30px;
}

.main {
    flex: 1;
    background-color: $black;
}
