@import '../constants.scss';

.header {
    height: 30px;
    line-height: 0.6rem;
    padding: $base-unit;
    background: $deep-blue-10;//$deep-purple-100;
    border-bottom: 1px solid $deep-blue-5; //$deep-purple-70;

    .logo {
        color: $yellow;
        margin-right: $base-unit * 4;
        font-size: $base-unit * 2;
        font-style: italic;
        font-family: LeckerliOne;
    }

    & .options {
        background-color: $deep-purple-80;
    }

    & .main-menu-item {
        color: $white;
        margin-right: $base-unit * 2;
    }
}
