@import '../constants.scss';

$header-height: $base-unit * 4;

.header {
    height: $base-unit * 4;
    line-height: 0.6rem;
    background: $deep-blue-10;//$deep-purple-100;
    border-bottom: 1px solid $deep-blue-5; //$deep-purple-70;

    .logo {
        color: $yellow;
        margin-right: $base-unit * 2;
        font-size: $base-unit * 2;
        font-style: italic;
        font-family: LeckerliOne;
        height: $base-unit * 4;
        padding: $base-unit;
    }

    & .main-menu-item {
        color: $white;
        height: 31px;
        line-height: 31px;
        display: inline-block;
        padding: 0 $base-unit;
        cursor: pointer;

        &:hover {
            background: $deep-blue-13;
        }
    }
}

.ant-dropdown-menu {
    margin-top: $base-unit;
    background-color: $deep-blue-13 !important;
    border: 1px solid $deep-blue-15;
    border-radius: 0px !important;
    width: $base-unit * 20;

    & .ant-divider-horizontal {
        margin: $base-unit 0;
        background: $deep-blue-15;
    }


    & .ant-dropdown-menu-item,
    & .ant-dropdown-menu-submenu > * {
        background-color: $deep-blue-13 !important;
        color: $white !important;
        font-family: 'Roboto Mono', sans-serif;
        font-size: .55rem;
        line-height: $base-unit * 2;
        height: $base-unit * 3;

        &.ant-dropdown-menu-item-active,
        &.ant-dropdown-menu-item-selected,
        &.ant-dropdown-menu-submenu-active,
        &.ant-dropdown-menu-submenu-selected {
            background-color: $deep-blue-10 !important;
        }

        &:hover {
            background-color: $deep-blue-11 !important;
        }
    }

    & .ant-dropdown-menu-item,
    & .ant-dropdown-menu-submenu {

        &[class$='-disabled'] {
            background: red;
        }
    }
}
