@import '../../../lib/constants.scss';
@import '../../../lib/theme.scss';

.controls-settings-group {
    height: $base-unit * 3;
    border-radius: 4px;
    background: $background-darker;
}

.toolbar {
    // min-height: $base-unit * 4;
    position: relative;
    width: 100%;
    background: $background-lighter;
    // padding: 4px $base-unit * 2;

    & > .settings-list {
        // margin: 0;
        padding: 0;
        // height: $base-unit * 4;
        margin: $base-unit $base-unit * 2;

        & > .settings-list-item {
            list-style: none;
            display: inline-block;
            line-height: $base-unit * 3;
            margin-right: $base-unit * 3;
            height: 100%;
        }
    }

    & .space-settings-button {
        height: $base-unit * 3;
        border-radius: $base-unit / 2;
        color: $atomic-tangerine;
        font-weight: bold;
        background: transparent;
        border: 1px solid $atomic-tangerine;
        transition: none;
        font-size: 10px;
        font-family: "Open Sans";
        top: 1px;

        &:hover,
        &:focus,
        &:active {
            color: $background-darker;
            background-color: $atomic-tangerine !important;
            outline: none;
        }
    }

    & .controls-settings-radio-group {
        @extend .controls-settings-group;

        &-button {
            height: $base-unit * 3;
            line-height: $base-unit * 3;
            background-color: transparent;
            color: $white;
            width: $base-unit * 3;
            padding: 0px 6px;
            font-size: 10px;
            font-family: "Open Sans";
            border: none !important;
            width: 42px;
            padding: 0px $base-unit * 2;

            &::before {
                background-color: transparent !important;
            }

            &.ant-radio-button-wrapper-checked {
                color: $atomic-tangerine !important;
                background: $background-darker !important;
                border-bottom: 2px solid $logo !important;
            }

            &:hover,
            &:active {
                color: $background-darker;
                background-color: $atomic-tangerine;
            }
        }
    }

    & .snap-settings-group {
        padding: 0 $base-unit;
        position: relative;

        &-item {
            margin-right: $base-unit * 2;
            max-width: 88px;
            max-height: 24px;
            line-height: 24px;
            transition: none;

            &-text-input,
            &-text-input input {
                top: $base-unit / 4;
                height: 20px;
                position: relative;
                border: none;
                background: transparent;
                font-size: $base-unit * 1.5;
                text-align: center;
                color: $white;

                & input {
                    top: 1px;
                    height: $base-unit * 2 + 3;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
