@import '../../../lib/constants.scss';
@import '../../../lib/theme.scss';

.left-toolbar {
    height: auto;
    position: absolute;
    top: calc(100% - 91px);
    left: 16px;
    width: auto;
    border-radius: $base-unit / 2;
    background: $background;

    &-list {
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;

        &-item {
            line-height: $base-unit * 3;
            min-width: $base-unit * 11;
            list-style: none;
            background: transparent;
            color: $white;
            text-align: center;
            display: inline-block;
            padding: $base-unit / 2 $base-unit * 2;

            &:first-child {
                border-top-left-radius: $base-unit / 2;
                border-bottom-left-radius: $base-unit / 2;
            }

            &:last-child {
                border-top-right-radius: $base-unit / 2;
                border-bottom-right-radius: $base-unit / 2;
            }

            &:hover {
                color: $background;
                background: $atomic-tangerine;
                cursor: pointer;
            }

            &.selected {
                border: 1px solid $logo;
                border-bottom-width: $base-unit / 2 - 1;
            }

            &-icon {
                margin-right: $base-unit * 2;
            }
        }
    }

    &-drawer {
        & .ant-drawer-header,
        & .ant-drawer-content {
            color: $white;
            background: $background !important;
        }
    }
}