@import '../../../lib/constants.scss';
@import '../../../lib/theme.scss';

.left-toolbar {
    height: auto;
    position: absolute;
    top: calc(100% - 91px);
    left: 16px;
    width: auto;
    border-radius: $base-unit / 2;
    background: $background;

    &-list {
        margin: 0;
        padding: 0;
        position: relative;
        // padding: $base-unit * 2 0px;
        width: 100%;
        // background: $background-darker;

        & li {
            height: $base-unit * 5;
            line-height: $base-unit * 4;
            width: $base-unit * 11;
            list-style: none;
            background: transparent;
            color: $white;
            text-align: center;
            display: inline-block;
            padding: $base-unit / 2 $base-unit;

            &:first-child {
                border-top-left-radius: $base-unit / 2;
                border-bottom-left-radius: $base-unit / 2;
            }

            &:last-child {
                border-top-right-radius: $base-unit / 2;
                border-bottom-right-radius: $base-unit / 2;
            }
            // &::before {
            //     content: ' ';
            //     position: absolute;
            //     height: 1px;
            //     left: 4px;
            //     width: $base-unit * 2;
            //     background: $background-darker;
            // }

            // &:last-child::after {
            //     content: ' ';
            //     position: absolute;
            //     height: 1px;
            //     left: 4px;
            //     width: $base-unit * 2;
            //     top: calc(100% - 16px);
            //     background: $background-darker;
            // }

            &:hover {
                color: $background;
                background: $atomic-tangerine;
                cursor: pointer;
            }

            &.selected {
                border-right: 2px solid $logo;
            }
        }
    }
}