@import './../shared/constants.scss';
.cm-s-magestudio.CodeMirror {
    background: $deep-blue-17;
    color: #f8f8f2;
    height: 90%;
}

.cm-s-magestudio div.CodeMirror-selected {
    background: $deep-blue-9;
}

.cm-s-magestudio .CodeMirror-line::selection,
.cm-s-magestudio .CodeMirror-line>span::selection,
.cm-s-magestudio .CodeMirror-line>span>span::selection {
    background: rgba(25, 25, 25, .99);
}

.cm-s-magestudio .CodeMirror-line::-moz-selection,
.cm-s-magestudio .CodeMirror-line>span::-moz-selection,
.cm-s-magestudio .CodeMirror-line>span>span::-moz-selection {
    background: rgba(25, 25, 25, .99);
}

.cm-s-magestudio .CodeMirror-gutters {
    background: $deep-blue-17;
    border-right: 0px;
}

.cm-s-magestudio .CodeMirror-guttermarker {
    color: white;
}

.cm-s-magestudio .CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
}

.cm-s-magestudio .CodeMirror-linenumber {
    color: $deep-blue-9;
}

.cm-s-magestudio .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
}

.cm-s-magestudio span.cm-comment {
    color: #75715e;
}

.cm-s-magestudio span.cm-atom {
    color: #ae81ff;
}

.cm-s-magestudio span.cm-number {
    color: #ae81ff;
}

.cm-s-magestudio span.cm-comment.cm-attribute {
    color: #97b757;
}

.cm-s-magestudio span.cm-comment.cm-def {
    color: #bc9262;
}

.cm-s-magestudio span.cm-comment.cm-tag {
    color: #bc6283;
}

.cm-s-magestudio span.cm-comment.cm-type {
    color: #5998a6;
}

.cm-s-magestudio span.cm-property,
.cm-s-magestudio span.cm-attribute {
    color: #a6e22e;
}

.cm-s-magestudio span.cm-keyword {
    color: #f92672;
}

.cm-s-magestudio span.cm-builtin {
    color: #66d9ef;
}

.cm-s-magestudio span.cm-string {
    color: #e6db74;
}

.cm-s-magestudio span.cm-variable {
    color: #f8f8f2;
}

.cm-s-magestudio span.cm-variable-2 {
    color: #9effff;
}

.cm-s-magestudio span.cm-variable-3,
.cm-s-magestudio span.cm-type {
    color: #66d9ef;
}

.cm-s-magestudio span.cm-def {
    color: $success-green;
}

.cm-s-magestudio span.cm-bracket {
    color: #f8f8f2;
}

.cm-s-magestudio span.cm-tag {
    color: #f92672;
}

.cm-s-magestudio span.cm-header {
    color: #ae81ff;
}

.cm-s-magestudio span.cm-link {
    color: #ae81ff;
}

.cm-s-magestudio span.cm-error {
    background: #f92672;
    color: #f8f8f0;
}

.cm-s-magestudio .CodeMirror-activeline-background {
    background: #373831;
}

.cm-s-magestudio .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}