@import '../../shared/constants.scss';
@import '../../shared/theme.scss';
.footer {
    height: $base-unit * 4;
    line-height: $base-unit * 4;
    background: $background; //$deep-purple-100;
    border-top: 1px solid $background-darker; //$deep-purple-70;
    padding: 0px $base-unit * 2;
}