@import '../../constants.scss';
@import '../../theme.scss';

.model-uploader {
    padding: $base-unit * 2;
    min-height: $base-unit * 20;
    max-width: $base-unit * 40;

    border: 1px solid $deep-blue-15;
    background: $deep-blue-13;
}
