@import '../../../lib/constants.scss';
@import '../../../lib/theme.scss';

.file-uploader-box {
    padding: $base-unit * 2;
    border: 1px solid $deep-blue-15;
    background: $deep-blue-13;

    &.models {
        min-height: $base-unit * 20;
        max-width: $base-unit * 40;
    }
}

.file-box {

    &.selected > .model-item > .icon {
        color: $yellow;
    }
}

.model-item {

    position: relative;
    float: left;
    height: $base-unit * 5;
    width: $base-unit * 5;
    padding: $base-unit;
    margin: $base-unit;

    & .icon {
        font-size: $base-unit * 5;
        color: $deep-blue-5;
        height: $base-unit * 4;
        width: $base-unit * 4;
    }

    & .name {
        width: $base-unit * 5;
        display: inline-block;
        text-align: center;
        font-size: $base-unit * 1.5;
    }
}
