// COLORS

// new palette https://coolors.co/ffce54-fb9d60-f76c6c-a8d0e6-374785-24305e-11162c-0b2027-40798c-70a9a1

$black: #000;
$white: #d3d8d9;//#dff0f6;
$grey: #5A6668;
$green: #8AAD5D;
$maize-crayola: #ffce54;
$atomic-tangerine: #fb9d60;
$light-coral: #f76c6c;
$uranian-blue: #a8d0e6;
$dark-cornflower-blue: #374785;
$space-cadet: #24305E;
$oxford-blue: #11162C;
$charleston-green: #0B2027;
$charleston-green-lighter: #123440;
$charleston-green-darker: #040d10;
$teal-blue: #40798c;
$green-sheen: #70a9a1;

$warning: $atomic-tangerine;
$danger: $light-coral;
$success: $green;
$info: $uranian-blue;

// constants
$base-unit: 8px;
