@import "./constants.scss";
@import "./theme.scss";

.ant-dropdown-menu-vertical,
.ant-select-dropdown {
    margin-top: $base-unit;
    background-color: $background !important;
    border: 1px solid $background-darker;
    border-radius: 0px !important;
    width: $base-unit * 20 !important;

    & .ant-divider-horizontal {
        margin: $base-unit 0;
        background-color: $separator;
    }

    & .ant-select-item,
    & .ant-dropdown-menu-item,
    & .ant-dropdown-menu-submenu > *,
    & .ant-dropdown-menu-item a {
        background-color: $background !important;
        color: $white !important;
        font-family: "Open Sans", sans-serif;
        font-size: 0.55rem;
        line-height: $base-unit * 2;
        height: $base-unit * 3;
        min-height: $base-unit * 3;

        &.ant-dropdown-menu-item-active,
        &.ant-dropdown-menu-item-selected,
        &.ant-dropdown-menu-submenu-active,
        &.ant-dropdown-menu-submenu-selected {
            color: $background-darker !important;
            background-color: $atomic-tangerine !important;
        }

        &.ant-dropdown-menu-item-disabled {
            color: $grey !important;

            &:hover {
                background-color: transparent !important;
            }
        }

        &:hover {
            color: $background-darker !important;
            background-color: $atomic-tangerine !important;
        }
    }

    & .ant-dropdown-menu-item,
    & .ant-dropdown-menu-submenu {
        &[class$="-disabled"] {
            background: red;
        }
    }
}

.ant-drawer {
    &-header,
    &-content,
    &-title {
        color: $white;
        background: $background !important;
        font-family: "Open Sans";
        font-weight: lighter;
        font-size: 12px;
    }
    &-content {
        border: 1px solid $background-very-dark;
        border-radius: $base-unit / 2;
    }
    &-header {
        padding: $base-unit $base-unit * 2;
    }
    &-body {
        padding: $base-unit * 2;
    }
    &-close {
        padding: 13px !important;
        font-size: 12px;
        color: white !important;
    }
}

.ant-tree {
    background: transparent;
    color: $white;
    font-size: 0.6rem;

    &-switcher {
        background: transparent !important;
        color: $teal-blue;

        &-noop {
            visibility: hidden;
        }
        & i {
            color: $white !important;
            &.anticon-file {
                visibility: hidden;
            }
        }
    }
    &-node-selected,
    &-node-content-wrapper:hover {
        background: transparent !important;
        background-color: transparent !important;
        color: $atomic-tangerine;
    }

    &-node-content-wrapper {
        padding: 0px 8px;
    }

    &-node-selected {
        color: $atomic-tangerine !important;
        outline-offset: 0px;
        outline: solid;
        outline-width: 1px;
        outline-style: dashed;
        border-radius: 0px !important;
    }

    &-show-line .ant-tree-indent-unit:before {
        border-right-color: $teal-blue;
    }

    &-iconEle {
        font-size: 1rem;
        margin-right: 8px;
        color: $light-coral;
    }
}

.ant-input-group-addon {
    color: $white;
    background: $background-very-dark;
    left: 0 !important;
    & button {
        box-shadow: none;
        border: none;
        height: $base-unit * 3;
        background: $background-very-dark;
    }
}

.ant-switch {
    &-checked {
        background-color: $success;
    }

    &-handle::before {
        background-color: $white;
        border: 1px solid $background-very-dark;
        border-radius: 100%;
    }
}

.ant-select-dropdown {
    background-color: $background !important;
    border: 1px solid $background-darker;
    border-radius: 0px !important;

    & .ant-select-dropdown-menu {
        border-radius: 0px;
    }

    & .ant-select-dropdown-menu-item {
        color: $white !important;
        font-family: "Roboto Mono", sans-serif;
        font-size: 0.55rem;

        &.ant-select-dropdown-menu-item-active,
        &.ant-select-dropdown-menu-item-selected {
            background-color: $background-lighter !important;
        }

        &:hover {
            background-color: $highlight !important;
        }

        .ant-select-arrow {
            color: $background-darker;
        }
    }
}

.ant-input-number {
    background: none !important;
    border: none !important;
    width: auto !important;
}

.ant-tabs {
    height: 100%;

    & .ant-tabs-nav {
        min-width: $base-unit * 4;
    }

    &-tab {
        padding: $base-unit/2 !important;
    }

    &-content-holder {
        border-color: $grey !important;
    }

    &-tab-btn {
        & svg {
            fill: $white;
        }
    }

    &-tab-active {
        & .ant-tabs-tab-btn svg {
            fill: $atomic-tangerine;
        }
    }

    &-ink-bar {
        background: $atomic-tangerine;
    }
}

.ant-tag {
    background: transparent !important;
    border-radius: $base-unit / 2 !important;
    min-width: $base-unit * 7 !important;
    text-align: center !important;
    opacity: 0.6;
    margin-bottom: $base-unit / 2;

    &-close-icon {
        margin-left: $base-unit;
    }
}

.ant-select-selector {
    background: transparent !important;
    border: none !important;
}

.ant-select-selection-item,
.ant-select-arrow {
    color: inherit !important;
}

.block-picker {
    background: $background-very-dark !important;
    border-radius: $base-unit / 2 !important;
}

.ant-empty {
    &-description {
        color: $grey !important;
    }

    &-image {
        svg {
            opacity: 0.6;
        }
    }
}
