@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './constants.scss';
@import './theme';
@font-face {
    font-family: 'LeckerliOne';
    src: url('/fonts/LeckerliOne-Regular.otf');
}

body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background: black;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: $white;
    font-size: 0.6rem;
    font-weight: 400;
    //letter-spacing: -0.01rem;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: $black;
    height: calc(100% - 146px);

    & .left-container,
    & .right-container {
        display: flex;
        flex-direction: column;
    }

    & .left-container {
        flex-grow: 3.7;
        max-width: 73vw;
    }

    & .right-container {
        flex-grow: 1;
    }
}

.flex-grow-2 {
    flex: 2 1 auto !important;
}

// .ant-switch-handle {
//     // top: 1px !important;
// }